<div *ngIf="album">
  <app-photo-section [overlay]="album.displayName"
    [photoURL]="album.coverPhoto.photoUrl"></app-photo-section>
  <div class="text-section valign-wrapper">
    <div class="container">
      <div class="row">
        <p>{{album.description}}</p>
      </div>
    </div>
  </div>
  <div class="row photos">
    <ul>
      <div *ngFor="let photo of album.getPhotos()">
        <li>
          <div class="col s12 m4 l3">
            <img materialize="materialbox"
              class="responsive-img materialboxed fade-photo"
              src="{{photo.photoUrl}}"
              id="a{{album.getPhotos().indexOf(photo)}}}">
          </div>
        </li>
      </div>
    </ul>
  </div>
  <div *ngIf="userService.isAdmin()"
    class="edit-button">
    <a class="btn-floating btn-large waves-effect waves-light red"
      (click)="onClickEdit()">
          <i class="material-icons">edit</i>
        </a>
  </div>
</div>