<div *ngIf="album" class="card blue-grey darken-1">
  <div class="card-content white-text">
    <span class="card-title">{{album.displayName}}</span>
    <div class="input-field col s12 l6">
      <input type="text" id="album_name"
        class="validate active" required
        [(ngModel)]="album.displayName">
      <label for="album_name" class="active">Album Name</label>
    </div>
    <div class="input-field col s12 l6">
      <textarea type="text" id="description"
        class="materialize-textarea"
        required [(ngModel)]="album.description"></textarea>
      <label for="description" class="active">Description</label>
    </div>
    <p>
      <input type="checkbox" class="filled-in"
        id="gallery" [(ngModel)]="album.showInGallery"
      />
      <label for="gallery">Show in Gallery</label>
    </p>
    <p>
      <input type="checkbox" class="filled-in"
        id="shop" [(ngModel)]="album.showInShop"
      />
      <label for="shop">Show in Shop</label>
    </p>
    <!--IF IS SHOP  -->
    <div *ngIf="album.showInShop">
      <input type="number" id="price"
        required />
      <label for="price">Price</label>
    </div>
    <div ng2FileDrop class="custom-component-drop-zone blue-grey darken-2 z-depth-2"
      [ng2FileDropAcceptMultiple]="true"
      (ng2FileDropHoverStart)="dragFileOverStart()"
      (ng2FileDropHoverEnd)="dragFileOverEnd()"
      (ng2FileDropFilesDropped)="dragFilesDropped($event)">
      Drop Files Here
    </div>
    <app-pending-photo-list *ngIf="pendingPhotos && pendingPhotos.length > 0"
      [pendingPhotos]="pendingPhotos"
      (clickItem)="onClickPendingPhoto($event)"></app-pending-photo-list>
    <app-photo-list [photos]="album.photos"
      [showSetting]="true" [coverPhoto]="album.coverPhoto"
      (clickRemove)="onClickRemove($event)"
      (clickSetCover)="onClickSetCover($event)"></app-photo-list>

  </div>
  <div class="card-action">
    <div *ngIf="loadingMessage === ''">
      <button (click)="onClickSave()"
        class="right" class="waves-effect waves-light btn">
      <i class="material-icons left">save</i>Save
    </button>
      <a class="waves-effect waves-light btn red right"
        (click)="onClickDelete()">Delete</a>
    </div>

    <div *ngIf="loadingMessage !== ''">
      <p>{{loadingMessage}}</p>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
</div>