<div class="wideScreen" *ngIf="siteConfig.ready()">
  <div class="parallax-container valign-wrapper fullsize">
    <div materialize="parallax" class="parallax">
      <img class="home-img" src="{{siteConfig.siteConfig.coverBackgroudPhoto}}">
      <!-- <video src="https://player.vimeo.com/external/181445574.hd.mp4?s=d24f32d879305e931468d55e4d7ce6efb5a95c39&amp;profile_id=119"
        autoplay loop playsinline></video> -->
    </div>
    <div class="logo">
      <h1 class="title">LENNYBOOK</h1>
      <h3 class=subtitle>life event photographer</h3>
    </div>
  </div>

  <div class="container text-section valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l6">
          <img class="responsive-img z-depth-1"
            src="{{siteConfig.getConfig('myProfilePhoto')}}">
        </div>
        <div class="col s12 m6 l6  ">
          <p>Hello, I am Ren Ishimaru</p>
          <p>I like big butts and
            i cannot lie!</p>
        </div>
      </div>
    </div>
  </div>

  <app-photo-section [photoURL]="siteConfig.siteConfig.featuredPhoto1"
    [overlay]=siteConfig.siteConfig.featuredOverLay1
    [navigateTo]="'album/-KrGf0aToLtXu04KpEGh'"></app-photo-section>

  <div class="container text-section valign-wrapper">
    <div class="container">
      <div class="row">
        <p><strong>"When working with Len, he understood how to capture the energy of the night club into photographs"</strong></p>
        <p>-Darth Vader, 2017</p>
      </div>
    </div>
  </div>

  <app-photo-section [photoURL]="siteConfig.siteConfig.featuredPhoto2"
    [overlay]=siteConfig.siteConfig.featuredOverLay2></app-photo-section>

  <div class="container text-section valign-wrapper">
    <div class="container">
      <div class="col">
        <div class="row s12 m12 l12">
          <p>Ren Ishimaru has collaborated
            with various internation
            companies with amazing
            result.
          </p>
        </div>
        <div class="container">
          <div class="row">
            <div class="col s6 m6 l6">
              <app-brand-logo [text]="'Tinder'">
              </app-brand-logo>
            </div>
            <div class="col s6 m6 l6">
              <app-brand-logo [text]="'Red Bull'">
              </app-brand-logo>
            </div>
            <div class="col s6 m6 l6">
              <app-brand-logo [text]="'SONY'">
              </app-brand-logo>
            </div>
            <div class="col s6 m6 l6">
              <app-brand-logo [text]="'Skrillex'">
              </app-brand-logo>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-photo-section [photoURL]="siteConfig.siteConfig.featuredPhoto3"
    [overlay]=siteConfig.siteConfig.featuredOverLay3></app-photo-section>

  <div class="container text-section">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l6 valign-wrapper">
          <h2><strong>Looking to collaborate? </strong>
          </h2>
        </div>

        <div class="col s12 m6 l6 valign-wrapper">
          <div class="center-align" style="width: 100%">
            <h4>Contact me at</h4>
            <p>Email: Lennybook@gmail.com</p>
            <p>Phone: 12-123-123-123</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>