.img{
    object-fit: contain;
}
.logo{
    color: white;
    stroke: 10px;
    margin:auto;
    text-align: center;
}
.parallax-container {
      height: 100vh;
}
.text-section{
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}