.parallax-container{
    height: 500px;
    z-index: -100;
}
.overlayText{
    color: white;
    stroke: 10px;
    margin:auto;
    text-align: center;
    text-shadow: 10px;
    font-size: 7vw;
}
.image{
    filter: brightness(80%);
}